{% extends 'site-layout.html' %}

{% block content %}

<!--Header-->
<div class="container-fluid text-bg-dark px-4 py-4">
    <div class="container px-5">
        <div class="row align-items-center">
            <div class="col">
                <img src="{{ url_for('static', filename='images/baie-logo.svg') }}"
                    class="me-2"
                    style="border: 2px solid #555555; border-radius: 48px; float: left;"
                    alt="Before & After Images for Wix logo"
                    width="48"
                    height="48"
                />   
                <h1>Before & After Images</h1>
            </div>
            <div class="col">
                <div class="btn-group-vertical float-end" role="group" aria-label="Vertical button group">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Get Support
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item border-bottom" href="https://www.boltonstudios.com/wix-support/?instance_id={{instance.instance_id}}">Support Contact Form</a></li>
                        <li><a class="dropdown-item" href="mailto:support@boltonstudios.com?subject=Wix Support for Instance ID {{instance.instance_id}}">Email the Developer</a></li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Info-->
<div class="container-fluid text-bg-secondary mb-4 px-4 py-2">
    <div class="container px-5">
        <div class="row">
            <div class="col">
                <small class="text-light">View information about your app installation below. Please use the</small> 
                <a href="https://support.wix.com/en/article/wix-editor-getting-started-with-the-wix-editor" class="link-light"><small>Wix Editor</small></a> 
                <small class="text-light">to edit individual sliders.</small>
                <small class="text-light">Instance ID</small>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
                <small class="text-light">{{instance.instance_id}}</small>
            </div>
        </div>
    </div>
</div>

<!--Body-->
<div class="container px-5 mb-3">
    {% if ( trial_days <= 0 ) and ( is_free == True ) %}
    <div class="row">
        <div class="col">
            {% include 'alert-trial-expired.html' %}
        </div>
    </div>
    {% endif %}

    {% if extension_limit_reached %}
    <div class="row">
        <div class="col">
        {% include 'alert-limit-reached.html' %}
        </div>
    </div>
    {% endif %}

    <div class="d-flex justify-content-between">
        <div>
            <p><strong>Subscription</strong></p>
            {% if is_free %}
            <p>Free Trial: <strong>{{trial_days}} days</strong> remaining. <a href="https://www.wix.com/apps/upgrade/ace631c7-323b-47c9-969f-7f3421515171?appInstanceId={{instance_id}}">Upgrade App</a></p>
            {% else %}
            <p><span class="badge text-bg-success">Active</span> 
                {% if expiration_date %}
                <small class="text-body-secondary">Expires {{ expiration_date.strftime('%b %d, %Y') }}</small>
                {% endif %}
            </p>
            {% endif %}
        </div>
        <div>
            <p><strong>Sliders</strong></p>
            <p>
                <strong>{{ extension_count }}</strong> <small class="text-body-secondary">of {{extension_limit}} available.</small>
                <svg xmlns="http://www.w3.org/2000/svg" 
                    width="12" 
                    height="12" 
                    fill="currentColor" 
                    class="bi bi-info-circle-fill link-primary" 
                    viewBox="0 0 16 16" 
                    style="margin-top: -2px"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-title="Default limit. Premium users can contact Support to change the limit."
                >
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                </svg>
            </p>
        </div>
    </div>
</div>

<!--Body-->
<div class="container px-5">
    <div class="row">
        <div class="col">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <h4 class="title">Sliders</h4>
                </div>
                <div>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                      </form>
                </div>
            </div>
            <div class="accordion pt-2" id="accordionComponents">
                {% for extension in extensions.items %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ extension.extension_id }}" aria-expanded="true" aria-controls="collapse{{ extension.extension_id }}">
                            
                            <span class="row w-100 align-items-center">

                                <span class="col-xl-10 col-lg-9 col-md-8 col-sm-7 col-xs-12">
                                    <strong>ID</strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#999999" class="bi bi-hash" viewBox="0 0 16 16" style="margin-top: -3px;">
                                        <path d="M8.39 12.648a1 1 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1 1 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.51.51 0 0 0-.523-.516.54.54 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532s.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531s.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z"/>
                                    </svg>
                                    <strong>{{ extension.extension_id }}</strong><br/>

                                    <small class="text-body-secondary">Created {{ extension.created_at.year }}-{{ extension.created_at.month }}-{{ extension.created_at.day }}</small>
                                </span>

                                <span class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-xs-12 d-flex align-self-end pe-5" style="height: 52px;">
                                    <span class="col border border-2 rounded-start-2" style="border-right: 1px solid #ffffff !important; background-image: url('{{ extension.before_image_thumbnail }}'); background-size: cover; background-position: center center;"></span>
                                    <span class="col border border-2 border-start-0 rounded-end-2" style="background-image: url('{{ extension.after_image_thumbnail }}'); background-size: cover; background-position: center center;"></span>
                                </span>
                            </span>
                        </button>
                    </h2>
                    <div id="collapse{{ extension.extension_id }}" class="accordion-collapse collapse" data-bs-parent="#accordionComponents">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item overflow-x-scroll">
                                            <p><strong>Before Image URL:</strong> {{ extension.before_image }}</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p><strong>Before Label Text:</strong> {{ extension.before_label_text }}</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p><strong>Before Alt Text:</strong> {{ extension.before_alt_text }}</p>
                                        </li>
                                        <li class="list-group-item overflow-x-scroll">
                                            <p><strong>After Image URL:</strong> {{ extension.after_image }}</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p><strong>After Label Text:</strong> {{ extension.after_label_text }}</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p><strong>After Alt Text:</strong> {{ extension.after_alt_text }}</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <p><strong>Offset Percentage:</strong> {{ "%.0f"|format( extension.offset_float * 100 ) }}%</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>
                                                <strong>Orientation:</strong>
                                                {% if extension.is_vertical %}
                                                    Vertical
                                                {% else %}
                                                    Horizontal
                                                {% endif %}
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--Navigation-->
    <nav aria-label="Dashboard slider list navigation" class="mt-4">
        <ul class="pagination justify-content-start">
        {% for number in extensions.iter_pages() %}
            {% if number %}
            
                {% if number != extensions.page %}
                <li class="page-item"><a class="page-link" href="{{ url_for( 'dashboard', page=number, instance_id=instance.instance_id ) }}">{{ number }}</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link">{{ number }}</a></li>
                {% endif %}
                
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
</div>

<script>
    // Initialize Boostrap tooltips.
    // Source: https://getbootstrap.com/docs/5.3/components/tooltips/
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}