{% extends 'site-layout.html' %}

{% block content %}
<!--Header-->
<div class="container-fluid text-bg-dark mb-4 px-4 py-3 border-bottom">
    <div class="row  align-items-center">
        <div class="col">
            
            <img src="{{ url_for('static', filename='images/baie-logo.svg') }}"
                class="float-start me-4"
                style="border: 2px solid #555555; border-radius: 48px; float: left;"
                alt="Before + After Images for Wix logo"
                width="48"
                height="48"
            />       
            <h1 class="fw-light">Before & After Images</h1>
        </div>
    </div>
</div>

<div class="container mb-3">
    <div class="row">
        <div class="alert alert-secondary" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
              </svg>
            Please use the Site Editor to edit individual sliders.
        </div>
    </div>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col">
            <p><strong>Your Instance ID</strong></p>
            {{ instance.instance_id }}
        </div>
        <div class="col">
            <p><strong>Subscription</strong></p>
            Free Trial
        </div>
        <div class="col">
            <p><strong>Joined</strong></p>
            {{ instance.created_at.year }}-{{ instance.created_at.month }}-{{ instance.created_at.day }}
        </div>
        <div class="col">
            <p><strong>Sliders</strong></p>
            {{extension_count}} of 999 available.
        </div>
    </div>
</div>

<!--Body-->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row align-items-end">
                <div class="col-4">
                    <h4 class="title">Sliders</h4>
                </div>
            </div>
            <div class="accordion pt-2" id="accordionComponents">
                {% for extension in extensions %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ extension.extension_id }}" aria-expanded="true" aria-controls="collapse{{ extension.extension_id }}">
                            <b>ID:</b> &nbsp;{{ extension.extension_id }} <b class="ms-3">Created:</b> &nbsp;{{ extension.created_at.year }}-{{ extension.created_at.month }}-{{ extension.created_at.day }}
                        </button>
                    </h2>
                    <div id="collapse{{ extension.extension_id }}" class="accordion-collapse collapse" data-bs-parent="#accordionComponents">
                        <div class="accordion-body">
                            <div class="col-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p><b>Instance ID:</b> {{ extension.instance_id }}</p>
                                </li>
                                <li class="list-group-item">
                                    <p><strong>Before Image URL:</strong> {{ extension.before_image }}</p>
                                </li>
                                <li class="list-group-item">
                                    <p><strong>Before Label Text:</strong> {{ extension.before_label_text }}</p>
                                </li>
                                <li class="list-group-item">
                                    <p><strong>Before Alt Text:</strong> {{ extension.before_alt_text }}</p>
                                </li>
                                <li class="list-group-item">
                                    <p><strong>After Image URL:</strong> {{ extension.after_image }}</p>
                                </li>
                                <li class="list-group-item">
                                    <p><strong>After Label Text:</strong> {{ extension.after_label_text }}</p>
                                </li>
                                <li class="list-group-item">
                                    <p><strong>After Alt Text:</strong> {{ extension.after_alt_text }}</p>
                                </li>
                                <li class="list-group-item">
                                    <p><strong>Offset Percentage:</strong> {{ extension.offset_float }}%</p>
                                </li>
                                <li class="list-group-item">
                                    <p>
                                        <strong>Orientation:</strong>
                                        {% if extension.is_vertical %}
                                            Vertical
                                        {% else %}
                                            Horizontal
                                        {% endif %}
                                    </p>
                                </li>
                            </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">


        {% for extension in extensions %}
        <!--Widget-->
        <div class="col-4 my-4">
            <p><strong>Slider ID:</strong> {{extension.extension_id}}</p>
            <div id="{{extension.extension_id}}-twentytwenty"
                class="twentytwenty-container {% if extension.is_dark %}dark{% endif %}"
            >
                <!-- The before image is first -->
                {% if extension.before_image != '' %}
                    <img id="{{extension.extension_id}}-before-image" src="{{ extension.before_image }}" width="637" height="328" alt="{{extension.before_alt_text}}" />
                {% else %}
                    <img id="{{extension.extension_id}}-before-image" src="{{ url_for('static', filename='images/placeholder-1.svg')}}" width="637" height="328" alt="placeholder" />
                {% endif %}
                <!-- The after image is last -->
                {% if extension.after_image != '' %}
                    <img id="{{extension.extension_id}}-after-image" src="{{ extension.after_image }}" width="637" height="328" alt="{{extension.after_alt_text}}" />
                {% else %}
                    <img id="{{extension.extension_id}}-after-image" src="{{ url_for('static', filename='images/placeholder-3.svg')}}" width="637" height="328" alt="placeholder" />
                {% endif %}
            </div>
        </div>
        
        <script>
            // Initialize TwentyTwenty
            $(function(){
                $("#{{extension.extension_id}}-twentytwenty").twentytwenty({
                    before_label: "{{extension.before_label_text}}", // Set a custom before label.
                    after_label: "{{extension.after_label_text}}", // Set a custom after label.
                    default_offset_pct: Number( "{{extension.offset_float}}" ), // How much of the before image is visible when the page loads
                    {% if extension.is_vertical %}
                    orientation: "vertical", // Orientation of the before and after images ('horizontal' or 'vertical')
                    {% endif %}
                });
            });
        </script>
        {% endfor %}

        <!--Navigation-->
        <nav aria-label="Page navigation example" class="mt-4">
            <ul class="pagination justify-content-start">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}