{% extends 'site-layout.html' %}

{% block content %}
<!--Header-->
<div class="container-fluid text-bg-dark mb-4 px-4 py-3 border-bottom">
    <div class="d-flex">
        <div class="flex-shrink-1 px-4">
            
            <img src="{{ url_for('static', filename='images/baie-logo.svg') }}"
                class="float-end mt-2"
                style="border: 2px solid #555555; border-radius: 48px; float: left;"
                alt="Before + After Images for Wix logo"
                width="48"
                height="48"
            />       
        </div>
        <div>
            <h1 class="fw-light">Before & After Images</h1>
            <p>Running in Instance ID <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#999999" class="bi bi-person-circle" viewBox="0 0 16 16" style="margin-top: -3px;">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
            {{ instance.instance_id }}</p>
        </div>
    </div>
</div>

<div class="container mb-3">
    <div class="row">
        <div class="alert alert-secondary" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
              </svg>
            Please use the Site Editor to edit individual sliders.
        </div>
    </div>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col">
            <p><strong>Subscription</strong></p>
            Free Trial
        </div>
        <div class="col">
            <p><strong>Joined</strong></p>
            {{ instance.created_at.year }}-{{ instance.created_at.month }}-{{ instance.created_at.day }}
        </div>
        <div class="col">
            <p><strong>Sliders</strong></p>
            {{extension_count}} of 999 available.
        </div>
    </div>
</div>

<!--Body-->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row align-items-end">
                <div class="col-4">
                    <h4 class="title">Sliders</h4>
                </div>
            </div>
            <div class="accordion pt-2" id="accordionComponents">
                {% for extension in extensions %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ extension.extension_id }}" aria-expanded="true" aria-controls="collapse{{ extension.extension_id }}">
                            
                            <span class="row w-100">

                                <span class="col col-10">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#999999" class="bi bi-calendar" viewBox="0 0 16 16" style="margin-top: -1px;">
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                                    </svg> 
                                    &nbsp;{{ extension.created_at.year }}-{{ extension.created_at.month }}-{{ extension.created_at.day }}
                                    &nbsp;&nbsp;
                                    <strong>ID:</strong> &nbsp;{{ extension.extension_id }}
                                </span>

                                <span class="col col-2 d-flex align-self-end pe-5" style="height: 60px;">
                                    <span class="col border border-2 border-end-0 rounded-start-2" style="background-image: url('{{ extension.before_image_thumbnail }}'); background-size: cover; background-position: center center;"></span>
                                    <span class="col border border-2 border-start-0 rounded-end-2" style="background-image: url('{{ extension.after_image_thumbnail }}'); background-size: cover; background-position: center center;"></span>
                                </span>
                            </span>
                        </button>
                    </h2>
                    <div id="collapse{{ extension.extension_id }}" class="accordion-collapse collapse" data-bs-parent="#accordionComponents">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <p><strong>Before Image URL:</strong> {{ extension.before_image }}</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p><strong>Before Label Text:</strong> {{ extension.before_label_text }}</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p><strong>Before Alt Text:</strong> {{ extension.before_alt_text }}</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p><strong>After Image URL:</strong> {{ extension.after_image }}</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p><strong>After Label Text:</strong> {{ extension.after_label_text }}</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p><strong>After Alt Text:</strong> {{ extension.after_alt_text }}</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <p><strong>Offset Percentage:</strong> {{ extension.offset_float }}%</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>
                                                <strong>Orientation:</strong>
                                                {% if extension.is_vertical %}
                                                    Vertical
                                                {% else %}
                                                    Horizontal
                                                {% endif %}
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--Navigation-->
    <nav aria-label="Page navigation example" class="mt-4">
        <ul class="pagination justify-content-start">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
{% endblock %}