{% extends 'site-layout.html' %}

{% block content %}
    <!-- start content -->
    <div class="page-content">
        <div class="content">
	<div class="container">
		<div class="hero">
			<div style="text-align:center;">
				<picture>
					<source srcset="/static/images/celebration-dark.svg" media="(prefers-color-scheme: dark)">
					<img src="/static/images/celebration.svg" alt="A group celebrating" width="427" height="231">
				</picture>
			</div>

			<div class="message">
				<h1>{{message}}</h1>
				<h2>Congratulations, you successfully deployed to App Engine</h2>
			</div>
		</div>

		<div class="details">
            <p>Go to <a href="{{ url_for('widget_slider') }}">/widget-slider</a></p>
			<p>
                This created the revision <code>{{Revision}}</code> of the App Engine service <code>{{Service}}</code>.
            </p>
		</div>
	</div>
{% endblock %}