{% extends 'site-layout.html' %}

{% block content %}
    <!-- start content -->
    <div class="page-content">
        <div class="content">
            <div class="container">

                <p>Settings here.</p>
                <p>{{message}}</p>
                <p>Component ID: {{component_id}}</p>
                <button id="favorite-button" class="favorite styled" type="button" onclick="updateBaieComponent()">Add to favorites</button>

                <p>&nbsp;</p>
                <form action="/webhooks" id="action-button-generate-request" class="request-button-form" method="POST">
                    <div class="mb-3">
                        <label for="formFileBefore" class="form-label">Before Image</label>
                        <input class="form-control" type="file" id="formFileBefore">
                      </div>
                      <div class="mb-3">
                        <label for="formFileAfter" class="form-label">After Image</label>
                        <input class="form-control" type="file" id="formFileAFter">
                      </div>
                        <label for="sliderOffsetRange" class="form-label">Slider Offset</label>
                        <input type="range" class="form-range" id="sliderOffsetRange" onchange="updateBaieComponent()">
                    <input type="submit" value="Generate Request" />
                    <input type="hidden" id="button_pressed" name="button_pressed" value="1">
                </form>

                <script>
                    function updateBaieComponent(){

                        var message = {
                            sliderOffset: document.getElementById( "sliderOffsetRange" ).value
                        };

                        Wix.Settings.triggerSettingsUpdatedEvent( message, '{{component_id}}' );

                        console.log( "updateBaieComponent() called." );
                        console.log( "message = " );
                        console.log( message )
                    }
                </script>
            </div>
        </div>
    </div>
{% endblock %}