{% extends 'site-layout.html' %}
{% block content %}
    <!-- start content -->
    <div class="content">

        <div id="{{extension_id}}-twentytwenty"
            class="twentytwenty-container"
            data-slider-id="{{extension_id}}"
            data-before-image="{{before_image}}"
            data-before-label-text="{{before_label_text}}"
            data-before-alt-text="{{before_alt_text}}"
            data-after-image="{{after_image}}"
            data-after-label-text="{{after_label_text}}"
            data-after-alt-text="{{after_alt_text}}"
            data-slider-offset="{{slider_offset}}"
            data-slider-offset-float="{{slider_offset_float}}"
            data-slider-orientation="{{slider_orientation}}"
            data-slider-mouseover-action="{{slider_mouseover_action}}"
            data-slider-handle-animation="{{slider_handle_animation}}"
            data-slider-move-on-click-toggle="{{slider_move_on_click_toggle}}"
        >
            <!-- The before image is first -->
            {% if before_image != '' %}
                <img id="{{extension_id}}-before-image" src="{{ before_image }}" width="637" height="328" alt="{{before_alt_text}}" />
            {% else %}
                <img id="{{extension_id}}-before-image" src="{{ url_for('static', filename='images/placeholder-1.svg')}}" width="637" height="328" alt="placeholder" />
            {% endif %}
            <!-- The after image is last -->
            {% if after_image != '' %}
                <img id="{{extension_id}}-after-image" src="{{ after_image }}" width="637" height="328" alt="{{after_alt_text}}" />
            {% else %}
                <img id="{{extension_id}}-after-image" src="{{ url_for('static', filename='images/placeholder-3.svg')}}" width="637" height="328" alt="placeholder" />
            {% endif %}
        </div>

       <script>

        // Define variables for scripts.js
        var extension_id = "{{extension_id}}";
        var url_for_widget = "{{ url_for('widget') }}";

        // Add event listeners for Wix events as shown here:
        // https://dev.wix.com/api/iframe-sdk/sdk/wix#sdk_wix_addeventlistener
        Wix.addEventListener( Wix.Events.SETTINGS_UPDATED, updateWidgetExtension );
        Wix.addEventListener( Wix.Events.SITE_SAVED, publishWidgetExtension );
        Wix.addEventListener( Wix.Events.COMPONENT_DELETED, deleteWidgetExtension );

        // Add other event listeners.
        window.addEventListener( "resize", resizeComponentWindow );

        // Strip the TwentyTwenty HTML and reapply it with new values.
        function reinitializeTwentyTwenty( widget ){

            console.log( "reinitializeTwentyTwenty called.");

            // Reset TwentyTwenty elements.
            jQuery("#" + extension_id + "-twentytwenty").unwrap();
            jQuery(".twentytwenty-overlay").remove();
            jQuery(".twentytwenty-handle").remove();
            jQuery(".twentytwenty-before-label").remove();
            jQuery(".twentytwenty-after-label").remove();
            jQuery(".pulser").remove();

            // Reinitialize TwentyTwenty.
            console.log( "Initialize TwentyTwenty" );
            jQuery("#" + extension_id + "-twentytwenty").twentytwenty({
                before_label: widget.beforeLabelText, // Set a custom before label.
                after_label: widget.afterLabelText, // Set a custom after label.
                default_offset_pct: widget.sliderOffsetFloat, // How much of the before image is visible when the page loads.
                orientation: widget.sliderOrientation, // Orientation of the before and after images ('horizontal' or 'vertical')
                no_overlay: widget.noOverlay, //Do not show the overlay with before and after
                move_slider_on_hover: widget.moveOnHover, // Boolean expressed as an int.
                click_to_move: widget.moveOnClickToggle
            });

            // Pulse animation
            if( widget.sliderHandleAnimation == 2 ){
                
                // Remove existing pulser element to handle.
                jQuery( '.twentytwenty-handle' ).prepend( '<span class="pulser"></span>' );
            }
        }

        // Define the function to ensure the TwentyTwenty container height matches the
        // size of the shortest image.
        function resizeTwentyTwentyContainer(){

            console.log( "resizeTwentyTwentyContainer called.");

            // Get the height of the shortest image.

            // Initialize variables.
            var beforeImage = jQuery( "#" + extension_id + "-before-image" );
            var afterImage = jQuery( "#" + extension_id + "-after-image" );
            var beforeWidth = beforeImage.width();
            var afterWidth = afterImage.width();
            var beforeHeight = beforeImage.height();
            var afterHeight = afterImage.height();

            // Get the dimensions of the smallest image.
            var imageWidth = beforeWidth > afterWidth ? beforeWidth : afterWidth;
            var imageHeight = beforeHeight > afterHeight ? beforeHeight : afterHeight;

            // Set the height of '.twentytwenty-container' to the height of the shortest image.
            jQuery( '.twentytwenty-container' ).css( "height",  shortestImageHeight + "px" );
        }

        // Update the widget iframe dimensions, as described here:
        // https://dev.wix.com/docs/build-apps/developer-tools/extensions/iframes/set-your-app-dimensions
        function resizeComponentWindow(){

            console.log( "resizeComponentWindow called.");

            // Source: https://stackoverflow.com/questions/5489946/how-to-wait-for-the-end-of-resize-event-and-only-then-perform-an-action
            clearTimeout( window.resizedFinished );
            window.resizedFinished = setTimeout( function(){

                console.log('Resized finished.');

                // Initialize variables.
                var beforeImage = jQuery( "#" + extension_id + "-before-image" );
                var afterImage = jQuery( "#" + extension_id + "-after-image" );
                var beforeWidth = beforeImage.width();
                var afterWidth = afterImage.width();
                var beforeHeight = beforeImage.height();
                var afterHeight = afterImage.height();

                // Get the dimensions of the smallest image.
                var imageWidth = beforeWidth > afterWidth ? beforeWidth : afterWidth;
                var imageHeight = beforeHeight > afterHeight ? beforeHeight : afterHeight;

                // Override with before image dimensions to match twentytwenty
                imageHeight = beforeHeight;

                console.log( "resized component to " + imageWidth + "px by " + imageHeight + "px" )

                // Resize the window.
                Wix.resizeComponent(
                    {
                        width: imageWidth,
                        height: imageHeight
                    },
                    //resizeTwentyTwentyContainer()
                    // Set the height of '.twentytwenty-container' to the height of the shortest image.
                    jQuery( '.twentytwenty-container' ).css( "height",  imageHeight + "px" )
                );
            }, 250 );
        }

        // Do something when the user applies new settings.
        function updateWidgetExtension( e ){

            // Print status to the console.
            console.log( "updateWidgetExtension called." );
            console.log( e );

            // Initialize variables.
            var slider = document.getElementById( extension_id + "-twentytwenty" );
            var beforeImage = document.getElementById( extension_id + "-before-image" );
            var afterImage = document.getElementById( extension_id + "-after-image" );
            var shortestWidth = beforeImage.offsetWidth < afterImage.offsetWidth ? beforeImage.offsetWidth : afterImage.offsetWidth;
            var shortestHeight = beforeImage.offsetHeight < afterImage.offsetHeight ? beforeImage.offsetHeight : afterImage.offsetHeight;
            var widget = {}

            // Update data attributes.
            slider.dataset.beforeImage = e.beforeImage;
            slider.dataset.beforeLabelText = e.beforeLabelText;
            slider.dataset.beforeAltText = e.beforeAltText;
            slider.dataset.afterImage = e.afterImage;
            slider.dataset.afterLabelText = e.afterLabelText;
            slider.dataset.afterAltText = e.afterAltText;
            slider.dataset.sliderOffset = e.sliderOffset;
            slider.dataset.sliderOffsetFloat = e.sliderOffsetFloat;
            slider.dataset.sliderOrientation = e.sliderOrientation;
            slider.dataset.sliderMouseoverAction = e.sliderMouseoverAction;
            slider.dataset.sliderHandleAnimation = e.sliderHandleAnimation;
            slider.dataset.sliderMoveOnClickToggle = e.sliderMoveOnClickToggle;

            // Update image attributes.
            beforeImage.src = e.beforeImage;
            afterImage.src  = e.afterImage;
            beforeImage.alt = e.beforeAltText;
            afterImage.alt  = e.afterAltText;

            // Update widget object.
            widget.beforeLabelText = slider.dataset.beforeLabelText;
            widget.afterLabelText = slider.dataset.afterLabelText;
            widget.sliderOffsetFloat = slider.dataset.sliderOffsetFloat;
            widget.sliderOrientation = slider.dataset.sliderOrientation;
            widget.noOverlay = false;
            widget.moveOnHover = false;
            widget.moveOnClickToggle = slider.dataset.sliderMoveOnClickToggle;

            // Handle logic for mouseover action.
            switch( slider.dataset.sliderMouseoverAction ){

                // Move slider on hover.
                case 2 :
                    widget.noOverlay = false
                    widget.moveOnHover = true;
                    break;
                // Do nothing on mouseover.
                case 0:
                    widget.noOverlay = true;
                    widget.moveOnHover = false;
                    break;
                // Show overlay on mouseover.
                default :
                    break;
            }

            // Restart the TwentyTwenty script.
            // reinitializeTwentyTwenty( widget )
            // Reset TwentyTwenty elements.
            jQuery("#" + extension_id + "-twentytwenty").unwrap();
            jQuery(".twentytwenty-overlay").remove();
            jQuery(".twentytwenty-handle").remove();
            jQuery(".twentytwenty-before-label").remove();
            jQuery(".twentytwenty-after-label").remove();
            jQuery(".pulser").remove();

            // Reinitialize TwentyTwenty.
            console.log( "Initialize TwentyTwenty" );
            jQuery("#" + extension_id + "-twentytwenty").twentytwenty({
                before_label: widget.beforeLabelText, // Set a custom before label.
                after_label: widget.afterLabelText, // Set a custom after label.
                default_offset_pct: widget.sliderOffsetFloat, // How much of the before image is visible when the page loads.
                orientation: widget.sliderOrientation, // Orientation of the before and after images ('horizontal' or 'vertical')
                no_overlay: widget.noOverlay, //Do not show the overlay with before and after
                move_slider_on_hover: widget.moveOnHover, // Boolean expressed as an int.
                click_to_move: widget.moveOnClickToggle
            });

            // Pulse animation
            if( widget.sliderHandleAnimation == 2 ){
                
                // Remove existing pulser element to handle.
                jQuery( '.twentytwenty-handle' ).prepend( '<span class="pulser"></span>' );
            }

            //
            resizeComponentWindow();

            /*
            // Update the TwentyTwenty container size.
            // resizeTwentyTwentyContainer();
            // Get the height of the shortest image.
            beforeImage = document.getElementById( extension_id + "-before-image" );
            afterImage = document.getElementById( extension_id + "-after-image" );
            var shortestImageWidth = beforeImage.offsetWidth < afterImage.offsetWidth ? beforeImage.offsetWidth : afterImage.offsetWidth;
            var shortestImageHeight = beforeImage.offsetHeight < afterImage.offsetHeight ? beforeImage.offsetHeight : afterImage.offsetHeight;

            console.log( "beforeImage.offsetWidth is " + beforeImage.offsetWidth + " and afterImage.offsetWidth is " + afterImage.offsetWidth );
            console.log( "shortestImageWidth is " + shortestImageWidth );

            console.log( "beforeImage.offsetHeight is " + beforeImage.offsetHeight + " and afterImage.offsetHeight is " + afterImage.offsetHeight );
            console.log( "shortestImageHeight is " + shortestImageHeight + "...or is it " + shortestHeight + "px?" );

            // Set the height of '.twentytwenty-container' to the height of the shortest image.
            jQuery( '.twentytwenty-container' ).css( "height", shortestImageHeight + "px" );

            // Update the component window size and reset TwentyTwenty.
            // resizeComponentWindow( e )
            // Get the dimensions of the smallest image.
            // var imageWidth = beforeImage.offsetWidth < afterImage.offsetWidth ? beforeImage.offsetWidth : afterImage.offsetWidth;
            // var imageHeight = beforeImage.offsetHeight < afterImage.offsetHeight ? beforeImage.offsetHeight : afterImage.offsetHeight;
            //var shortestImageWidth = beforeImage.offsetWidth < afterImage.offsetWidth ? beforeImage.offsetWidth : afterImage.offsetWidth;

            // Resize the window.
            Wix.resizeComponent(
                {
                    width: shortestWidth,
                    height: shortestImageHeight
                },
                console.log( "resized component to " + shortestImageWidth + "px by " + shortestImageHeight + "px" )
            );
                */
            // Save changes.
            publishWidgetExtension( e )
        }

        // Do something when the user deletes an extension.
        function deleteWidgetExtension( e ){

            // Print status to the console.
            console.log( "deleteWidgetExtension called.");
            console.log( e );

            fetch( url_for_widget, {
                method: "POST",
                body: JSON.stringify({
                    extensionId: extension_id,
                    action: "delete"
                }),
                headers: {
                "Content-type": "application/json; charset=UTF-8"
                }
            });
        }

        // Do something when the user saves the website.
        function publishWidgetExtension( e ){

            // Print status to the console.
            console.log( "publishWidgetExtension called.");
            console.log( e );

            // Get the extensions current attribute data.
            var slider =  document.getElementById( extension_id + "-twentytwenty" );

            // Send the attribute data to the app in an asynchronous POST request.
            fetch( url_for_widget, {
                method: "POST",
                body: JSON.stringify({
                    action: "publish",
                    extensionId: slider.dataset.sliderId,
                    siteId: Wix.Utils.getSiteOwnerId(),
                    userId: Wix.Utils.getUid(),
                    instanceId: Wix.Utils.getInstanceId(),
                    beforeImage: slider.dataset.beforeImage,
                    beforeLabelText: slider.dataset.beforeLabelText,
                    beforeAltText: slider.dataset.beforeAltText,
                    afterImage: slider.dataset.afterImage,
                    afterLabelText: slider.dataset.afterLabelText,
                    afterAltText: slider.dataset.afterAltText,
                    sliderOffset: slider.dataset.sliderOffset,
                    sliderOffsetFloat: slider.dataset.sliderOffsetFloat,
                    sliderOrientation: slider.dataset.sliderOrientation,
                    sliderMouseoverAction: slider.dataset.sliderMouseoverAction,
                    sliderHandleAnimation: slider.dataset.sliderHandleAnimation,
                    sliderMoveOnClickToggle: slider.dataset.sliderMoveOnClickToggle
                }),
                headers: {
                "Content-type": "application/json; charset=UTF-8"
                }
            });
        }
       </script>

       <script>
        // Initialize TwentyTwenty
        console.log( "Initialize TwentyTwenty" );
        $(function(){
            $("#{{extension_id}}-twentytwenty").twentytwenty({
                before_label: "{{before_label_text}}", // Set a custom before label.
                after_label: "{{after_label_text}}", // Set a custom after label.
                default_offset_pct: Number( "{{slider_offset_float}}" ), // How much of the before image is visible when the page loads
                orientation: "{{slider_orientation}}", // Orientation of the before and after images ('horizontal' or 'vertical')
                no_overlay: Number( "{{slider_no_overlay}}" ), // Do not show the overlay with before and after
                move_slider_on_hover: Number( "{{slider_move_slider_on_hover}}" ), // Move slider on mouse hover?
                click_to_move: Number( "{{slider_move_on_click_toggle}}" ) // Allow a user to click (or tap) anywhere on the image to move the slider to that location.
            });
        });
       </script>

       <script>
        // Do something when the document is ready.
        jQuery( document ).ready( function(){

            // When the user clicks on the widget...
            jQuery( '.twentytwenty-container' ).on( 'mousedown', function(){

                // Add a clicked class that we will use to disable animations.
                jQuery( this ).addClass( 'clicked' );

            });

            // Set the height of '.twentytwenty-container' to the height of the shortest image.
            resizeTwentyTwentyContainer();
            
        });
       </script>
       
        {% if slider_handle_animation == 2 %}
        <script>
            // Do something when the document is ready.
            jQuery( document ).ready( function(){
                
                // Add pulser element to handle.
                jQuery( '.twentytwenty-handle' ).prepend( '<span class="pulser"></span>' );
            });
        </script>
        {% endif %}

        {% if slider_move_slider_on_hover == 1 %}
        <script>
            // Do something when the document is ready.
            jQuery( document ).ready( function(){

                // When the user clicks on the widget...
                jQuery( '.twentytwenty-container' ).on( 'mouseover', function(){

                    // Add a clicked class that we will use to disable animations.
                    jQuery( this ).addClass( 'clicked' );

                });
            });
        </script>
        {% endif %}
    </div>
{% endblock %}