{% extends 'site-layout.html' %}
{% block content %}
    <!-- start content -->
    <div class="content">
        
        {% if ( trial_days <= 0 ) and ( is_free == True ) %}

            {% include 'alert-trial-expired.html' %}
        
        {% endif %}

        <div id="{{extension_id}}-twentytwenty"
            class="twentytwenty-container {{slider_dark_mode}}"
            data-slider-id="{{extension_id}}"
            data-before-image="{{before_image}}"
            data-before-image-thumbnail="{{before_image_thumbnail}}"
            data-before-label-text="{{before_label_text}}"
            data-before-alt-text="{{before_alt_text}}"
            data-after-image="{{after_image}}"
            data-after-image-thumbnail="{{after_image_thumbnail}}"
            data-after-label-text="{{after_label_text}}"
            data-after-alt-text="{{after_alt_text}}"
            data-slider-offset="{{slider_offset}}"
            data-slider-offset-float="{{slider_offset_float}}"
            data-slider-orientation="{{slider_orientation}}"
            data-slider-mouseover-action="{{slider_mouseover_action}}"
            data-slider-handle-animation="{{slider_handle_animation}}"
            data-slider-move-on-click-toggle="{{slider_move_on_click_toggle}}"
            data-slider-handle-border-color="{{slider_handle_border_color}}"
            data-slider-dark-mode="{{slider_dark_mode}}"
        >
            <!-- The before image is first -->
            {% if before_image != '' %}
                <img id="{{extension_id}}-before-image" src="{{ before_image }}" alt="{{before_alt_text}}" />
            {% else %}
                <img id="{{extension_id}}-before-image" src="{{ url_for('static', filename='images/placeholder-1.svg')}}" width="637" height="328" alt="placeholder" />
            {% endif %}
            <!-- The after image is last -->
            {% if after_image != '' %}
                <img id="{{extension_id}}-after-image" src="{{ after_image }}" alt="{{after_alt_text}}" />
            {% else %}
                <img id="{{extension_id}}-after-image" src="{{ url_for('static', filename='images/placeholder-3.svg')}}" width="637" height="328" alt="placeholder" />
            {% endif %}
        </div>

       <script>

        // Define variables for scripts.js
        var extension_id = "{{extension_id}}";
        var url_for_widget = "{{ url_for('widget') }}";

        // Add event listeners for Wix events as shown here:
        // https://dev.wix.com/api/iframe-sdk/sdk/wix#sdk_wix_addeventlistener
        Wix.addEventListener( Wix.Events.SETTINGS_UPDATED, updateWidgetExtension );
        Wix.addEventListener( Wix.Events.SITE_SAVED, publishWidgetExtension );
        Wix.addEventListener( Wix.Events.COMPONENT_DELETED, deleteWidgetExtension );

        // Add other event listeners.
        window.addEventListener( "resize", resizeComponentWindow );

       </script>

       <script>
        // Check that images have loaded before initializing TwentyTwenty.
        //
        // Source: Max Meloni (Jul 12, 2021) Comment - Not all images are showing - the ones missing have a height of 0px. #112
        // Github
        // Retrieved February 19, 2024
        // From: https://github.com/zurb/twentytwenty/issues/112#issuecomment-878415235
        //
        var imagesLoaded = 0;

        // Before image loaded.
        $('#{{extension_id}}-before-image')
        .on('load', function() { ++imagesLoaded; checkAndRun( imagesLoaded ); })
        .on('error', function() { console.log("Error loading Before image,"); })

        // After image loaded.
        $('#{{extension_id}}-after-image')
        .on('load', function() { ++imagesLoaded; checkAndRun( imagesLoaded ); })
        .on('error', function() { console.log("Error loading After image."); })

        // Wrapper for TwentyTwenty call.
        function checkAndRun( imagesLoaded ) {

            // If two images have loaded...
            if( imagesLoaded == 2 ){

                // Initialize TwentyTwenty
                $("#{{extension_id}}-twentytwenty").twentytwenty({
                    before_label: "{{before_label_text}}", // Set a custom before label.
                    after_label: "{{after_label_text}}", // Set a custom after label.
                    default_offset_pct: Number( "{{slider_offset_float}}" ), // How much of the before image is visible when the page loads
                    orientation: "{{slider_orientation}}", // Orientation of the before and after images ('horizontal' or 'vertical')
                    no_overlay: Number( "{{slider_no_overlay}}" ), // Do not show the overlay with before and after
                    move_slider_on_hover: Number( "{{slider_move_slider_on_hover}}" ), // Move slider on mouse hover?
                    click_to_move: Number( "{{slider_move_on_click_toggle}}" ) // Allow a user to click (or tap) anywhere on the image to move the slider to that location.
                });
            }
        }

        // Ensure the component window sizes appropriately for the images.
        resizeComponentWindow();
       </script>

       <script>
        // Do something when the document is ready.
        jQuery( document ).ready( function(){

            // When the user clicks on the widget...
            jQuery( '.twentytwenty-container' ).on( 'mousedown', function(){

                // Add a clicked class that we will use to disable animations.
                jQuery( this ).addClass( 'clicked' );

            });
        });
       </script>

        <script>
         // Do something when the document is ready.
         jQuery( document ).ready( function(){

            // Initialize variables.
            var directions = [ 'up', 'down', 'left', 'right' ];

            // For each direction.
            directions.forEach( function( element ){

                // Apply the user's chosen accent color.
                jQuery( '.twentytwenty-' + element + '-arrow' ).css( "border-color", "{{slider_handle_border_color}}" );

            });
            
            // Apply the user's chosen accent color (light mode).
            jQuery( '.twentytwenty-wrapper .twentytwenty-container:not( .dark ) .twentytwenty-handle' ).hover(
                function(){
                    jQuery( this ).css( "background-color", "{{slider_handle_border_color}}" );
                },
                function(){
                    jQuery( this ).css( "background-color", "#dddddd" );
                }
            );

            // Apply the user's chosen accent color (dark mode).
            jQuery( '.twentytwenty-wrapper .twentytwenty-container.dark .twentytwenty-handle' ).hover(
                function(){
                    jQuery( this ).css( "background-color", "{{slider_handle_border_color}}" );
                },
                function(){
                    jQuery( this ).css( "background-color", "#666666" );
                }
            );
        });
        </script>

        <style>
            .twentytwenty-wrapper .twentytwenty-container .twentytwenty-handle:hover .twentytwenty-up-arrow{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='{{slider_encoded_handle_border_color}}' class='bi bi-caret-up-fill' viewBox='0 0 16 16'%3E%3Cpath d='m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z'/%3E%3C/svg%3E");
            }
            .twentytwenty-wrapper .twentytwenty-container .twentytwenty-handle:hover .twentytwenty-down-arrow{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='{{slider_encoded_handle_border_color}}' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
            }
            .twentytwenty-wrapper .twentytwenty-container .twentytwenty-handle:hover .twentytwenty-left-arrow {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='{{slider_encoded_handle_border_color}}' class='bi bi-caret-left-fill' viewBox='0 0 16 16'%3E%3Cpath d='m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z'/%3E%3C/svg%3E");
            }
            .twentytwenty-wrapper .twentytwenty-container .twentytwenty-handle:hover .twentytwenty-right-arrow {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='{{slider_encoded_handle_border_color}}' class='bi bi-caret-right-fill' viewBox='0 0 16 16'%3E%3Cpath d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/%3E%3C/svg%3E");
            }
        </style>

        {% if ( ( trial_days > 0 ) or ( is_free == False ) ) and ( slider_handle_animation == 2 ) %}
        <script>
            // Do something when the document is ready.
            jQuery( document ).ready( function(){
                
                // Add pulser element to handle.
                jQuery( '.twentytwenty-handle' ).prepend( '<span class="pulser"></span>' );
            });
        </script>
        {% endif %}
        
        {% if ( ( trial_days > 0 ) or ( is_free == False ) ) and ( slider_move_slider_on_hover == 1 ) %}
        <script>
            // Do something when the document is ready.
            jQuery( document ).ready( function(){

                // When the user clicks on the widget...
                jQuery( '.twentytwenty-container' ).on( 'mouseover', function(){

                    // Add a clicked class that we will use to disable animations.
                    jQuery( this ).addClass( 'clicked' );

                });
            });
        </script>
        {% endif %}
    </div>
{% endblock %}