{% extends 'site-layout.html' %}
{% block content %}
    <!-- start content -->
    <div class="content">

        <div id="{{extension_id}}-twentytwenty"
            class="twentytwenty-container"
            data-slider-id="{{extension_id}}"
            data-before-image="{{before_image}}"
            data-before-image-thumbnail="{{before_image_thumbnail}}"
            data-before-label-text="{{before_label_text}}"
            data-before-alt-text="{{before_alt_text}}"
            data-after-image="{{after_image}}"
            data-after-image-thumbail="{{after_image_thumbnail}}"
            data-after-label-text="{{after_label_text}}"
            data-after-alt-text="{{after_alt_text}}"
            data-slider-offset="{{slider_offset}}"
            data-slider-offset-float="{{slider_offset_float}}"
            data-slider-orientation="{{slider_orientation}}"
            data-slider-mouseover-action="{{slider_mouseover_action}}"
            data-slider-handle-animation="{{slider_handle_animation}}"
            data-slider-move-on-click-toggle="{{slider_move_on_click_toggle}}"
        >
            <!-- The before image is first -->
            {% if before_image != '' %}
                <img id="{{extension_id}}-before-image" src="{{ before_image }}" width="637" height="328" alt="{{before_alt_text}}" />
            {% else %}
                <img id="{{extension_id}}-before-image" src="{{ url_for('static', filename='images/placeholder-1.svg')}}" width="637" height="328" alt="placeholder" />
            {% endif %}
            <!-- The after image is last -->
            {% if after_image != '' %}
                <img id="{{extension_id}}-after-image" src="{{ after_image }}" width="637" height="328" alt="{{after_alt_text}}" />
            {% else %}
                <img id="{{extension_id}}-after-image" src="{{ url_for('static', filename='images/placeholder-3.svg')}}" width="637" height="328" alt="placeholder" />
            {% endif %}
        </div>

       <script>

        // Define variables for scripts.js
        var extension_id = "{{extension_id}}";
        var url_for_widget = "{{ url_for('widget') }}";

        // Add event listeners for Wix events as shown here:
        // https://dev.wix.com/api/iframe-sdk/sdk/wix#sdk_wix_addeventlistener
        Wix.addEventListener( Wix.Events.SETTINGS_UPDATED, updateWidgetExtension );
        Wix.addEventListener( Wix.Events.SITE_SAVED, publishWidgetExtension );
        Wix.addEventListener( Wix.Events.COMPONENT_DELETED, deleteWidgetExtension );

        // Add other event listeners.
        window.addEventListener( "resize", resizeComponentWindow );

       </script>

       <script>
            // Initialize TwentyTwenty
            $(function(){
                $("#{{extension_id}}-twentytwenty").twentytwenty({
                    before_label: "{{before_label_text}}", // Set a custom before label.
                    after_label: "{{after_label_text}}", // Set a custom after label.
                    default_offset_pct: Number( "{{slider_offset_float}}" ), // How much of the before image is visible when the page loads
                    orientation: "{{slider_orientation}}", // Orientation of the before and after images ('horizontal' or 'vertical')
                    no_overlay: Number( "{{slider_no_overlay}}" ), // Do not show the overlay with before and after
                    move_slider_on_hover: Number( "{{slider_move_slider_on_hover}}" ), // Move slider on mouse hover?
                    click_to_move: Number( "{{slider_move_on_click_toggle}}" ) // Allow a user to click (or tap) anywhere on the image to move the slider to that location.
                });
            });

            // Ensure the component window sizes appropriately for the images.
            resizeComponentWindow();
       </script>

       <script>
        // Do something when the document is ready.
        jQuery( document ).ready( function(){

            // When the user clicks on the widget...
            jQuery( '.twentytwenty-container' ).on( 'mousedown', function(){

                // Add a clicked class that we will use to disable animations.
                jQuery( this ).addClass( 'clicked' );

            });
        });
       </script>
       
        {% if slider_handle_animation == 2 %}
        <script>
            // Do something when the document is ready.
            jQuery( document ).ready( function(){
                
                // Add pulser element to handle.
                jQuery( '.twentytwenty-handle' ).prepend( '<span class="pulser"></span>' );
            });
        </script>
        {% endif %}

        {% if slider_move_slider_on_hover == 1 %}
        <script>
            // Do something when the document is ready.
            jQuery( document ).ready( function(){

                // When the user clicks on the widget...
                jQuery( '.twentytwenty-container' ).on( 'mouseover', function(){

                    // Add a clicked class that we will use to disable animations.
                    jQuery( this ).addClass( 'clicked' );

                });
            });
        </script>
        {% endif %}
    </div>
{% endblock %}